@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?8835725');
  src: url('../font/fontello.eot?8835725#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?8835725') format('woff2'),
       url('../font/fontello.woff?8835725') format('woff'),
       url('../font/fontello.ttf?8835725') format('truetype'),
       url('../font/fontello.svg?8835725#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?8835725#fontello') format('svg');
  }
}
*/
 
 [class^="i-"]:before, [class*=" i-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.i-plus-thick:before { content: '\e800'; } /* '' */
.i-down-open:before { content: '\e801'; } /* '' */
.i-left-open:before { content: '\e802'; } /* '' */
.i-right-open:before { content: '\e803'; } /* '' */
.i-up-open:before { content: '\e804'; } /* '' */
.i-beer:before { content: '\e805'; } /* '' */
.i-cancel:before { content: '\e806'; } /* '' */
.i-badge:before { content: '\e819'; } /* '' */
.i-beverage:before { content: '\e81d'; } /* '' */
.i-heart-empty:before { content: '\e821'; } /* '' */
.i-heart:before { content: '\e822'; } /* '' */
.i-ok:before { content: '\e840'; } /* '' */
.i-cheveron-down:before { content: '\e842'; } /* '' */
.i-cheveron-left:before { content: '\e843'; } /* '' */
.i-cheveron-right:before { content: '\e848'; } /* '' */
.i-cheveron-up:before { content: '\e849'; } /* '' */
.i-dots:before { content: '\e862'; } /* '' */
.i-star:before { content: '\e884'; } /* '' */
.i-star-empty:before { content: '\e898'; } /* '' */
.i-minus-outline:before { content: '\e8a8'; } /* '' */
.i-minus-solid:before { content: '\e8a9'; } /* '' */
.i-notifications:before { content: '\e8ba'; } /* '' */
.i-notifications-outline:before { content: '\e8bb'; } /* '' */
.i-question:before { content: '\e8cc'; } /* '' */
.i-trash:before { content: '\e8fa'; } /* '' */
.i-trophy:before { content: '\e902'; } /* '' */
.i-add-outline:before { content: '\e920'; } /* '' */
.i-add-solid:before { content: '\e921'; } /* '' */
.i-minus-thick:before { content: '\e92a'; } /* '' */
.i-eskp2:before { content: '\e92b'; } /* '' */
.i-wine:before { content: '\e938'; } /* '' */
.i-bottles:before { content: '\e939'; } /* '' */
.i-cocktail:before { content: '\e93a'; } /* '' */
.i-coke:before { content: '\e93b'; } /* '' */
.i-drink:before { content: '\e93c'; } /* '' */
.i-pint:before { content: '\e93d'; } /* '' */
.i-shot:before { content: '\e93e'; } /* '' */
.i-angle-left:before { content: '\f104'; } /* '' */
.i-angle-right:before { content: '\f105'; } /* '' */
.i-angle-up:before { content: '\f106'; } /* '' */
.i-angle-down:before { content: '\f107'; } /* '' */
.i-share:before { content: '\f1e0'; } /* '' */