@tailwind base;
@tailwind utilities;
@import './transition.css';
@tailwind components;

@import "../assets/fontello/css/fontello.css";

body {
    @apply relative flex flex-col w-screen h-screen select-none font-sans bg-orange-500 text-white antialiased;
}

:focus, :active {
    /* disable blue "overlay" on buttons */
    -webkit-tap-highlight-color: transparent;
}


.logo {
    @apply block m-4 h-12 w-12;
    background-image: url('../assets/sax_logo_64.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
