.fade-in-right-from {
    transform: translateX(5%);
    opacity: 0;
}

.fade-in-right-to {
    transform: translateX(0px);
    opacity: 1;
}


.fade-out-left-from {
    transform: translateX(0px);
    opacity: 1;
}

.fade-out-left-to {
    transform: translateX(-5%);
    opacity: 0;
}


.fade-up-from {
    transform: translateY(0px);
    opacity: 1;
}

.fade-up-to {
    transform: translateY(-0.5em);
    opacity: 0;
}

.transition-none {
  transition-property: none;
}

.transition-all {
  transition-property: all;
}

.transition {
  transition-property: background-color, border-color, color, opacity, transform;
}

.transition-colors {
  transition-property: background-color, border-color, color;
}

.transition-opacity {
  transition-property: opacity;
}

.transition-transform {
  transition-property: transform;
}

.ease-linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition-fastest {
  transition-duration: 75ms;
}

.transition-faster {
  transition-duration: 100ms;
}

.transition-fast {
  transition-duration: 150ms;
}

.transition-medium {
  transition-duration: 200ms;
}

.transition-slow {
  transition-duration: 300ms;
}

.transition-slower {
  transition-duration: 500ms;
}

.transition-slowest {
  transition-duration: 700ms;
}
